.signUpModalContainer {
    border-radius: 5px;
    margin: 15% 10% 5% 10%;
    border: 5px solid rgba(0, 109, 119, .8);
    background-color: #83c5be;
    padding: 5%;
    position: absolute;
    width: 60%;
    left: 10%;
    z-index: 1;
    overflow: auto;
    animation: slideInFromTop 1s;
}

.signUpModal {
    display: flex;
    flex-direction: column;
    border: 2px solid #edf6f9;
    border-radius: 5px;
    background-color: #006d77;
    padding: 5%;
}

.signUpModalUsername,
.signUpModalEmail,
.signUpModalPassword {
    padding: 2%;
    border: 2px solid #edf6f9;
    border-radius: 5px;
    background-color: #006d77;
    outline: none;
    color: #edf6f9;
    margin-bottom: 2%;
    font-family: 'exo 2', 'sans-serif';
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active input:-webkit-scrollbar {
    -webkit-text-fill-color: #ffddd2;
    background-color: #006d77;
    display: none;
}

.signUpModalUsername:-webkit-autofill,
.signUpModalEmail:-webkit-autofill,
.signUpModalPassword:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffddd2 !important;
}

.signUpFormButton {
    border: 2px solid #edf6f9;
    border-radius: 5px;
    background-color: #006d77;
    color: #e29578;
    width: 30%;
    padding: 1%;
    margin-top: 2%;
    margin-right: 2%;
}

.signUpFormButton:hover {
    cursor: pointer;
    background-color: rgba(131, 197, 188, .5);
    color: #edf6f9;
}

.signUpLabel {
    font-size: 1.5rem;
    color: #e29578;
    margin-bottom: 2%;
}

@media (min-width: 600px) {
    .signUpModalContainer {
        margin: auto;
        border: 10px solid rgba(0, 109, 119, .8);
        padding: 2%;
        width: 30%;
        top: 10%;
        left: 35%;
    }

    .signUpLabel {
        font-size: 2rem;
    }

    .signUpModalUsername,
    .signUpModalEmail,
    .signUpModalPassword {
        font-size: 1.2rem;
        padding: 2%;
    }

    .signUpFormButton {
        font-size: 1.2rem;
        margin-top: 2%;
        margin-right: 5%;
    }
}