.nameAndYears {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.name {
    font-size: 2rem;
}

.years {
    font-size: 1.2rem;
}

.postsList {
    padding: 0 2% 2% 2%;
}

.post {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5%;
}

.postHeader {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.postTitleAndType {
    display: flex;
    flex-basis: 50%;
    align-items: end;
}

.postTitle {
    font-size: 1.8rem;
    padding: 0px 10px 10px 0px;
}

.postType {
    font-size: 1.2rem;
    padding: 0px 5px 10px 0px;
    opacity: .6;
}

.postDate {
    flex-basis: 50%;
    text-align: end;
}

.postCity {
    font-size: 1.2rem;
}

.postMessage {
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    flex-basis: 100%;
}

.postButtons {
    padding-top: 15px;
    flex-basis: 100%;
    display: flex;
    justify-content: right;
}

.postButton {
    border-radius: 5px;
    margin-left: 10px;
    width: 75px;
}

.editModal, .deleteModal {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    position: absolute;
    top: 15%;
    background-color: lemonchiffon;
    z-index: 1;
    overflow: auto;
    padding: 3%;
    border-radius: 5px;
}

.deleteModal {
    top: 21%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

.deleteModalButtonsContainer {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deleteModalButton {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.deleteModalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2%;
    text-align: center;
    flex-basis: 100%;
}

.formTitle, .formType, .formMessage {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5%;
}

.formHeadings {
    font-size: 1.3rem;
    padding-bottom: 7px;
}

.titleInput {
    width: 30%;
    border-radius: 5px;
    padding: 3px;
}

.typeInput {
    width: 30%;
    border-radius: 5px;
    padding: 3px;
}

.messageInput {
    resize: none;
    font-family: 'exo 2', 'sans-serif';
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 3px;
}

.editModalButtons {
    display: flex;
    justify-content: right;
    margin-top: 3%;
}

.submitButton, .cancelButton {
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px 20px 3px 20px;
}

@media (min-width: 600px) {
    .editModal, .deleteModal {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        position: absolute;
        top: 20%;
        background-color: lemonchiffon;
        display: block;
        z-index: 1;
        overflow: auto;
        padding: 3%;
        border-radius: 5px;
    }

    .formTitle, .formType, .formMessage {
        display: flex;
        flex-direction: column;
        padding-bottom: 1%;
    }

    .titleInput {
        width: 20%;
        border-radius: 5px;
        padding: 5px;
    }

    .typeInput {
        width: 100px;
        border-radius: 5px;
        padding: 5px;
    }

    .messageInput {
        resize: none;
        font-family: 'exo 2', 'sans-serif';
        width: 100%;
        height: 100px;
        border-radius: 5px;
        padding: 5px;
    }

    .submitButton, .cancelButton {
        border-radius: 5px;
        margin-left: 5px;
        padding: 5px 20px 5px 20px;
    }

    .editModalButtons {
        display: flex;
        justify-content: right;
    }

    .deleteModalHeader {
        font-size: 1.8rem;
        margin-bottom: 2.5%;
    }

    .deleteModalButton {
        margin-right: 5px;
        border-radius: 5px;
        padding: 5px 20px 5px 20px;
    }
}