.nameAndYearsContainer {
    border-radius: 5px;
    background-color: #83c5be;
    margin: 5%;
    padding: 3% 5% 3% 5%;
    box-shadow: 5px 5px rgba(0, 109, 119, .7);
    animation: fadein 1s;
}

.deleteModal {
    border: 5px solid rgba(0, 109, 119, .7);
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    position: absolute;
    top: 15%;
    background-color: #83c5be;
    z-index: 1;
    overflow: auto;
    padding: 3%;
    border-radius: 5px;
    animation: fadein .5s;
}

.nameAndYears {
    border: 2px solid #edf6f9;
    border-radius: 5px;
    color: #e29578;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #006d77;
}

.name {
    font-size: 2rem;
}

.years {
    font-size: 1.2rem;
}

.postsList {
    padding: 0 5% 5% 5%;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.post {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 5%;
    background-color: #83c5be;
    box-shadow: 5px 5px rgba(0, 109, 119, .7);
    margin-bottom: 7%;
    animation: slidein 1s;
}

.postHeader {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 2px solid #edf6f9;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #006d77;
}

.postTitleAndType {
    display: flex;
    flex-basis: 70%;
    align-items: end;
}

.postTitle {
    font-size: 1.5rem;
    padding: 0px 10px 10px 0px;
    color: #e29578;
}

.postType {
    font-size: 1.2rem;
    padding: 0px 5px 10px 0px;
    opacity: .6;
    color: #ffddd2;
}

.postDate {
    flex-basis: 30%;
    text-align: end;
    color: #ffddd2;
}

.postCity {
    font-size: 1.2rem;
    color: #ffddd2;
}

.postMessage {
    border: 2px solid #edf6f9;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    flex-basis: 100%;
    background-color: #006d77;
    color: #ffddd2;
}

.postButtons {
    padding-top: 15px;
    flex-basis: 100%;
    display: flex;
    justify-content: right;
}

.postButton {
    border-radius: 5px;
    margin-left: 10px;
    width: 75px;
    border: 2px solid #edf6f9;
    background-color: #006d77;
    color: #e29578;
}

.postButton:hover {
    cursor: pointer;
    background-color: rgba(0, 109, 119, .7);
    color: #edf6f9;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.deleteModal {
    top: 21%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

.deleteModalButtonsContainer {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deleteModalButton {
    padding: 10px 20px 10px 20px;
    background-color: #006d77;
    border-radius: 5px;
    color: #e29578;
    border: 2px solid #edf6f9;
}

.deleteModalButton:hover {
    cursor: pointer;
    background-color: rgba(0, 109, 119, .7);
    color: #edf6f9;
}

.deleteModalHeader {
    color: #006d77;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2%;
    text-align: center;
    flex-basis: 100%;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading {
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
    background-color: #006d77;
    box-shadow: 5px 5px rgba(131, 197, 188, .8);
    color: #e29578;
    margin: 30% 5% 0% 5%;
    padding: 3%;
    animation: fadein 1s;
}

@media (min-width: 600px) {
    .loading {
        margin: 5% 20%;
        box-shadow: 10px 10px rgba(131, 197, 188, .8);
    }

    .nameAndYearsContainer {
        box-shadow: 10px 10px rgba(0, 109, 119, .7);
        margin: 2% 20% 2% 20%;
        padding: 2%;
    }

    .name {
        font-size: 3rem;
    }

    .years {
        font-size: 2rem;
    }

    .postsList {
        padding: 0 0 0 0;
    }

    .post {
        box-shadow: 10px 10px rgba(0, 109, 119, .7);
        margin: 0% 20% 2% 20%;
        padding: 2%;
    }

    .postTitle {
        font-size: 2rem;
    }

    .postCity,
    .postDate {
        font-size: 1.5rem;
    }

    .postMessage {
        font-size: 1.2rem;
    }

    .postButton {
        font-size: 1.2rem;
        margin-left: 30px;
        width: 100px;
        padding: 2px;
    }

    .deleteModal {
        top: 30%;
        width: 25%;
        height: 25%;
        left: 32.5%;
        padding: 2%;
        border: 10px solid rgba(0, 109, 119, .7);
    }

    .deleteModalHeader {
        font-size: 2rem;
    }

    .deleteModalButton {
        padding: 5px 30px 5px 30px;
        font-size: 1.5rem;
    }
}