.img {
    height: 75px;
    width: 100px;
    border-radius: 5px;
    border: 5px solid #83c5be;
    box-shadow: 5px 5px #006d77;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 600px) {
    .home {
        display: flex;
        flex-basis: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: fill;
        height: 150px;
        width: 100%;
        margin: 20px 0px;
    }

    img:hover {
        opacity: 0.75;
    }

    .img {
        margin-top: auto;
        height: 120px;
        width: 200px;
        box-shadow: 10px 10px rgba(0, 109, 119, .9);
    }
}