.header1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 26px;
    font-weight: 1000;
    margin-bottom: 5px;
}

.abt_paragraph1 {
    font-size: 24px;
}

.img_container{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.About_Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.spaces {
    margin-bottom: 25px;
}

.text_about {
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 7.5px;
    border: 10px solid #83c5be;
    box-shadow: 7.5px 7.5px #006d77;
    padding: 25px;
}

@media (max-width: 1000px) {
    .About_Container{
        display: block;
    }

    .text_about {
        margin: 3% 15% 0% 15%;
    }
}

@media (max-width: 600px) {
    .img_felp {
        height: 150px;
        width: 250px;
        margin-top: 25px;
        display: none;
    }

    .header1  {
        font-size: 1.5rem;
    }
    
    .abt_paragraph1 {
        font-size: 1rem;
        line-height: 1.2;
    }

    .About_Container{
        display: block;
    }

    .text_about {
        margin: 3% 15% 0% 15%;
    }
}
